name: Go SLSA Release

on: 
  workflow_dispatch:
  push:
    tags:
      - "*" 

permissions: read-all

jobs:
  build:
    name: SLSA Golang builder
    permissions:
      id-token: write # For signing
      contents: write # For asset uploads. Always needed, even when not setting `upload-assets: false` :/
    #uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v0.0.2
    uses: laurentsimon/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@feat/mergego
    with:
      go-version: 1.17
      upload-assets: false
      config-file: ./.github/workflows/go-configs/config1.yml
      #compile-builder: true

  upload:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741
        with:
          name: ${{ needs.build.outputs.go-binary-name }}
      - uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741
        with:
          name: ${{ needs.build.outputs.go-binary-name }}.intoto.jsonl
      - run: |
          echo name is ${{ needs.build.outputs.go-binary-name }}
          pwd
          ls
          chmod a+x ./${{ needs.build.outputs.go-binary-name }}
          ./${{ needs.build.outputs.go-binary-name }}
      - name: Release
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ needs.build.outputs.go-binary-name }}
            ${{ needs.build.outputs.go-binary-name }}.intoto.sig

#   test:
#     name: My test
#     runs-on: ubuntu-latest
#     needs: build
#     steps:
#       - uses: 'actions/download-artifact@v2'
#         with:
#           name: SLSA_BINARY
#       - run: |
#           ls -l SLSA_BINARY
#           chmod a+x SLSA_BINARY
#           ./SLSA_BINARY
